.h1 {
    color: rgb(18, 33, 64);
}

.Topnav a {
    float: right;
    color:#122140
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font size: 17px;
}

/* Change the color of the links on hover */
.Topnav a:hover  {
    background-color: #A9C6D9; 
    color: #122140
}

/* Add a color to the active/current link*/
.Topnav a.active {
    background-color: #122140;
    color: #A9C6D9
}

